@import "./utils/varialbles/fonts";
@import "./utils//mixins/button";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
  // background: #111111;
}
a {
  color: black;
  text-decoration: none;
}
p,
button {
  font-size: $pera-lg;
}
h1 {
  font-size: $heading-xl;
  span {
    color: #923DFF;
  }
}

@media screen and (max-width: 1050px) {
  p,
  button {
    font-size: $pera-md;
  }
  h1 {
    font-size: $heading-lg;
  }
}
@media screen and (max-width: 750px) {
  h1 {
    font-size: $heading-md;
  }
}
@media screen and (max-width: 500px) {
  p,
  button {
    font-size: $pera-sm;
  }
  h1 {
    font-size: $heading-sm;
  }
}
