.home_side_design .back_design {
  width: 350px;
  height: 100vh;
  background-color: #4e4aff;
  position: absolute;
  z-index: -1;
}

.home_side_design .back {
  width: 180px;
  height: 105vh;
  background-color: #111111;
  position: absolute;
  top: -50px;
  left: 250px;
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
  z-index: -1;
}

.profile_img {
  width: 650px;
  height: 92vh;
  border-radius: 10px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1230px;
  height: 100vh;
  margin-left: 70px;
}

.content div {
  color: white;
  margin-left: 100px;
}

.content div p {
  width: 460px;
  margin: 20px 0px 30px;
  font-size: 18px;
  word-break: break-all;
}

.content span a {
  margin: 0px 24px 0px 0px;
}

.content span a i {
  font-size: 1.5rem;
  color: white;
}

.desktop_nav {
  position: fixed;
  top: 50%;
  right: 30px;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.desktop_nav a {
  color: white;
  margin: 20px 0px;
  border-radius: 50px;
  position: relative;
}

.desktop_nav a i {
  font-size: 1.4rem;
  padding: 17px 15px;
  border-radius: 50px;
  -webkit-transition: visibility 1s ease;
  transition: visibility 1s ease;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-color: #1d1d1d;
}

.desktop_nav a i span {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 8px;
  left: -100px;
  width: 135px;
  padding: 12px 0px;
  text-align: center;
  border-radius: 4px;
  background-color: #4e4aff;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.desktop_nav a .fa-user,
.desktop_nav a .fa-file-chart-pie,
.desktop_nav a .fa-id-badge {
  padding: 17px 19px;
}

.desktop_nav a .fa-home-lg-alt {
  background-color: #4e4aff;
}

.desktop_nav i:hover span {
  opacity: 1;
  visibility: visible;
  left: -140px;
}

.naxt_btn {
  position: absolute;
  right: 40px;
  bottom: 35px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 2px solid #4e4aff;
  color: white;
  cursor: pointer;
}

.naxt_btn span {
  margin: 0px 20px;
}

.naxt_btn i {
  font-size: 1.5rem;
  padding: 13px 14px;
  border-radius: 50px;
  background-color: #4e4aff;
  color: white;
}

@media screen and (max-width: 1450px) {
  .profile_img {
    width: 520px;
    height: 89vh;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1020px;
    height: 100vh;
    margin-left: 40px;
  }
  .content div {
    color: white;
    margin-left: 80px;
  }
  .content div h1 {
    font-size: 50px;
  }
  .content div p {
    font-size: 16px;
    width: 400px;
  }
  .desktop_nav {
    position: fixed;
    top: 50%;
    right: 10px;
  }
  .naxt_btn {
    position: absolute;
    right: 20px;
    bottom: 35px;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    border: 2px solid #4e4aff;
    color: white;
    cursor: pointer;
  }
  .naxt_btn span {
    margin: 0px 20px;
  }
  .naxt_btn i {
    font-size: 1.5rem;
    padding: 13px 14px;
    border-radius: 50px;
    background-color: #4e4aff;
    color: white;
  }
}

@media screen and (max-width: 1050px) {
  .home_side_design .back_design {
    width: 100vw;
    height: 400px;
    background-color: #4e4aff;
    position: absolute;
    top: 0px;
    z-index: -5;
  }
  .home_side_design .back {
    display: none;
  }
  .profile_img {
    width: 700px;
    height: 900px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100%;
    margin: 80px 0px 120px;
  }
  .content div {
    color: white;
    margin-left: 0px;
    text-align: center;
    margin-top: 50px;
  }
  .content div h1 {
    font-size: 50px;
  }
  .content div p {
    font-size: 16px;
    width: 400px;
  }
  .desktop_nav {
    position: fixed;
    top: 100%;
    right: 50%;
    -webkit-transform: translate(50%, -100%);
            transform: translate(50%, -100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 95vw;
    border-radius: 10px 10px 0px 0px;
    background-color: #272727;
    padding: 12px 0px;
  }
  .desktop_nav a {
    color: white;
    margin: 0px 0px;
    border-radius: 50px;
    position: relative;
  }
  .desktop_nav a i {
    font-size: 1.2rem;
    padding: 15px 14px;
    border-radius: 50px;
    -webkit-transition: visibility 1s ease;
    transition: visibility 1s ease;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    background-color: #1d1d1d;
  }
  .desktop_nav a i span {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -27px;
    left: -90%;
    width: 125px;
    padding: 10px 0px;
    text-align: center;
    border-radius: 4px;
    background-color: #4e4aff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition-duration: 0.6s;
            transition-duration: 0.6s;
  }
  .desktop_nav a .fa-user,
  .desktop_nav a .fa-file-chart-pie,
  .desktop_nav a .fa-id-badge {
    padding: 15px 17px;
  }
  .desktop_nav a .fa-home-lg-alt {
    background-color: #4e4aff;
  }
  .desktop_nav i:hover span {
    opacity: 1;
    visibility: visible;
    top: -46px;
    left: -90%;
  }
  .naxt_btn {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .home_side_design .back_design {
    width: 100vw;
    height: 300px;
    background-color: #4e4aff;
    position: absolute;
    top: 0px;
    z-index: -5;
  }
  .profile_img {
    width: 500px;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100%;
    margin: 60px 0px 120px;
  }
  .content div {
    color: white;
    margin-left: 0px;
    text-align: center;
    margin-top: 50px;
  }
  .content div h1 {
    font-size: 32px;
  }
  .content div p {
    font-size: 14px;
    width: 350px;
  }
  .content span a {
    margin: 0px 24px 0px 0px;
  }
  .content span a i {
    font-size: 1.2rem;
    color: white;
  }
  .desktop_nav {
    position: fixed;
    top: 100%;
    right: 50%;
    -webkit-transform: translate(50%, -100%);
            transform: translate(50%, -100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 95vw;
    border-radius: 10px 10px 0px 0px;
    background-color: #272727;
    padding: 12px 0px;
  }
  .desktop_nav a {
    color: white;
    margin: 0px 0px;
    border-radius: 50px;
    position: relative;
  }
  .desktop_nav a i {
    font-size: 1.1rem;
    padding: 15px 14px;
    border-radius: 50px;
    -webkit-transition: visibility 1s ease;
    transition: visibility 1s ease;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    background-color: #1d1d1d;
  }
  .desktop_nav a i span {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -27px;
    left: -90%;
    width: 125px;
    padding: 10px 0px;
    text-align: center;
    border-radius: 4px;
    background-color: #4e4aff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition-duration: 0.6s;
            transition-duration: 0.6s;
  }
  .desktop_nav a .fa-user,
  .desktop_nav a .fa-file-chart-pie,
  .desktop_nav a .fa-id-badge {
    padding: 15px 17px;
  }
  .desktop_nav a .fa-home-lg-alt {
    background-color: #4e4aff;
  }
  .desktop_nav i:hover span {
    opacity: 1;
    visibility: visible;
    top: -46px;
    left: -90%;
  }
  .naxt_btn {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .home_side_design .back_design {
    width: 100vw;
    height: 200px;
    background-color: #4e4aff;
    position: absolute;
    top: 0px;
    z-index: -5;
  }
  .profile_img {
    width: 80%;
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100%;
    margin: 60px 0px 80px 0px;
  }
  .content div {
    color: white;
    margin-left: 0px;
    text-align: center;
    margin-top: 50px;
  }
  .content div h1 {
    font-size: 32px;
  }
  .content div p {
    font-size: 12px;
    width: 80%;
    margin: 10px auto 20px;
  }
  .content span a {
    margin: 0px 15px 0px;
  }
  .content span a i {
    font-size: 1rem;
    color: white;
  }
  .desktop_nav {
    position: fixed;
    top: 99%;
    right: 50%;
    -webkit-transform: translate(50%, -99%);
            transform: translate(50%, -99%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 95vw;
    border-radius: 6px;
    background-color: #272727;
    padding: 10px 0px;
  }
  .desktop_nav a {
    color: white;
    margin: 0px 0px;
    border-radius: 50px;
    position: relative;
  }
  .desktop_nav a i {
    font-size: 0.8rem;
    padding: 13px 12px;
    border-radius: 50px;
    -webkit-transition: visibility 1s ease;
    transition: visibility 1s ease;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    background-color: #1d1d1d;
  }
  .desktop_nav a i span {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -27px;
    left: -80%;
    width: 100px;
    padding: 9px 0px;
    text-align: center;
    border-radius: 4px;
    background-color: #4e4aff;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    -webkit-transition-duration: 0.6s;
            transition-duration: 0.6s;
  }
  .desktop_nav a .fa-user,
  .desktop_nav a .fa-file-chart-pie,
  .desktop_nav a .fa-id-badge {
    padding: 13px 15px;
  }
  .desktop_nav a .fa-home-lg-alt {
    background-color: #4e4aff;
  }
  .desktop_nav i:hover span {
    opacity: 1;
    visibility: visible;
    top: -38px;
    left: -80%;
  }
  .naxt_btn {
    display: none;
  }
}
/*# sourceMappingURL=home.css.map */